/* selector /Header {property:value;} */
/* you can style all within h1 */

html{
background-color: rgb(236, 236, 236);

}
h1 {
  background-color: #521751;
  color: white;
  padding: 10px; 
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.triptext {
  background-color: #fa923f;
  padding: 3px;
}

/* Is refering to all div. you can name the div then all you need is a period and the name of the div to manipulate style within a portion of the page */